NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret
POSTGRES_URL="postgres://99cd1b220d52b1209"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-da"
DATABASE_URL="postgres://99cd1b220d52b120910b"